apiVersion: apps/v1
kind: Deployment
metadata:
  name: node
spec:
  selector:
    matchLabels:
      app: node
  replicas: 3
  template: 
    metadata:
      labels:
        app: node
    spec:
      containers:
        - name: node
          image: monotiller/eng89_node_app
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: mongodb://mongo:27017/posts
          command: ["/bin/sh","-c"]
          args: ["node","seeds/seed.js"]
          imagePullPolicy: Always

# Scale our app
# hpa to auto scale our development on deployment
# In the config we need to declare min and max deployment
# Create a file called node-hpa.yml